name: Artifact Snyk Test

on:
  workflow_call:
    secrets:
      kosli_api_token:
        required: true
      snyk_token:
        required: true

    inputs:
      artifact_name:
        description: "Artifact name"
        required: true
        type: string
      artifact_fingerprint:
        description: "Artifact fingerprint"
        required: true
        type: string
      artifact_repo:
        description: "Artifact repo"
        required: true
        type: string
      artifact_commit:
        description: "Artifact commit"
        required: true
        type: string
      kosli_env:
        description: "Name of Kosli environment the artifact is running in"
        required: true
        type: string
      kosli_flow:
        description: "Name of Kosli flow to attest evidence in"
        required: true
        type: string


env:
  KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
  KOSLI_DEBUG:     ${{ vars.KOSLI_DEBUG }}          # true/false
  KOSLI_DRY_RUN:   ${{ vars.KOSLI_DRY_RUN }}        # true/false
  KOSLI_HOST:      ${{ vars.KOSLI_HOST }}           # https://app.kosli.com
  KOSLI_ORG:       ${{ vars.KOSLI_ORG }}            # cyber-dojo


jobs:
  find-snyk-vulns:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Simulate running snyk and extracting json from sarif file
        run:
          cp snyk-${{ inputs.artifact_repo }}.json snyk-ids.json

      - name: Merge artifact json into each snyk vuln json
        run: |
          artifact="$(jq \
            --compact-output \
            --arg artifact_name        "${{ inputs.artifact_name        }}" \
            --arg artifact_fingerprint "${{ inputs.artifact_fingerprint }}" \
            --arg artifact_repo        "${{ inputs.artifact_repo        }}" \
            --arg artifact_commit      "${{ inputs.artifact_commit      }}" \
            --arg kosli_env            "${{ inputs.kosli_env  }}" \
            --arg kosli_flow           "${{ inputs.kosli_flow }}" \
            '. += $ARGS.named' <<< '{}')"
            
          jq --compact-output "map(. + ${artifact})" snyk-ids.json > vulns

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ hashFiles('vulns') }}
          path: vulns


  collect-snyk-vulns:
    needs: find-snyk-vulns
    runs-on: ubuntu-latest
    outputs:
      vulns: ${{ steps.set-vulns.outputs.vulns }}
    steps:
      - uses: actions/download-artifact@v4
      - id: set-vulns
        run: |
          cat */vulns | jq --compact-output --slurp add > all-vulns
          
          vulns="$(jq \
            --compact-output \
            --arg af "${{ inputs.artifact_fingerprint }}" \
            --arg ke "${{ inputs.kosli_env }}"            \
            'map(. | select(.artifact_fingerprint == $af and .kosli_env == $ke))' \
            all-vulns)"
          
          echo "vulns=${vulns}" >> $GITHUB_OUTPUT


  attest-snyk-vulns:
    needs: collect-snyk-vulns
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{ fromJSON(needs.collect-snyk-vulns.outputs.vulns) }}
    steps:
      - name: Attest evidence to Kosli
        run: |
          echo ${{ matrix.artifact_name }}
          echo ${{ matrix.artifact_fingerprint }}
          echo ${{ matrix.artifact_repo }}
          echo ${{ matrix.artifact_commit }}
          echo ${{ matrix.kosli_env }}
          echo ${{ matrix.kosli_flow }}
          echo ${{ matrix.snyk_id }}
          echo ${{ matrix.snyk_severity }}

