name: Main
# https://stackoverflow.com/questions/78915275/how-can-i-capture-the-results-of-matrix-jobs-in-a-github-actions-workflow

on:
  push:

jobs:

  find-artifacts:
    runs-on: ubuntu-latest
    outputs:
      artifacts: ${{ steps.set-artifacts.outputs.artifacts }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - id: set-artifacts
        run: |
          artifacts="$(jq --compact-output . artifacts.json)"
          echo "artifacts=${artifacts}" >> ${GITHUB_OUTPUT}


  artifact-snyk:
    needs: find-artifacts
    strategy:
      matrix:
        include: ${{ fromJSON(needs.find-artifacts.outputs.artifacts) }}
    uses: cyber-dojo/ci-testing/.github/workflows/snyk.yml@main
    with:
      name: ${{ matrix.name }}
      fingerprint: ${{ matrix.fingerprint }}
      repo: ${{ matrix.repo }}
      commit: ${{ matrix.commit }}
      kosli_env: aws-beta
    secrets:
      kosli_api_token: ${{ secrets.KOSLI_API_TOKEN }}
      snyk_token: ${{ secrets.SNYK_TOKEN }}