name: Main

on:
  push:

jobs:

  job1:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: echo "matrix={\"include\":[{\"colour\":\"red\"},{\"colour\":\"blue\"}]}" >> ${GITHUB_OUTPUT}

  job2:
    needs: job1
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.job1.outputs.matrix) }}
    outputs:
      colour: ${{ steps.colour.output.value }}
      ids: ${{ steps.snyk.outputs.ids }}      
    steps:
      - name: Set colour
        id: colour
        run:
          echo "value=${{ matrix.colour }}" >> ${GITHUB_OUTPUT}

      - name: Find snyk vulns
        id: snyk
        run:
          echo "ids=[\"SNYK-234\",\"SNYK-567\"]" >> ${GITHUB_OUTPUT}

  job3:
    needs: job2
    runs-on: ubuntu-latest
    uses: cyber-dojo/ci-testing/.github/workflows/splicer.yml@main
    with:
      colour: "${{ needs.job3.outputs.colour }}"
      ids: "${{ needs.job3.outputs.ids }}"
