name: Main
# https://stackoverflow.com/questions/78915275/how-can-i-capture-the-results-of-matrix-jobs-in-a-github-actions-workflow

on:
  push:

jobs:

  find-artifacts:
    runs-on: ubuntu-latest
    outputs:
      artifacts: ${{ steps.set-artifacts.outputs.artifacts }}
    steps:
      - id: set-artifacts
        run: echo "artifacts={\"include\":[{\"colour\":\"red\"},{\"colour\":\"blue\"}]}" >> ${GITHUB_OUTPUT}


  find-vulns:
    needs: find-artifacts
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.find-artifacts.outputs.artifacts) }}
    steps:
      - name: Find snyk vulns
        run: |
          if [ "${{ matrix.colour }}" == red ]; then
            echo "[{\"id\":\"SNYK-A4\"},{\"id\":\"SNYK-A7\"}]" > ids.json
          else
            echo "[{\"id\":\"SNYK-B9\"},{\"id\":\"SNYK-X2\"}]" > ids.json
          fi

      - name: Splice vulns
        run:
          jq --compact-output "map(. + {colour: \"${{ matrix.colour }}\"})" ids.json > vulns

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ hashFiles('vulns') }}
          path: vulns


  collect-vulns:
    needs: find-vulns
    runs-on: ubuntu-latest
    outputs:
      vulns: ${{ steps.set-vulns.outputs.vulns }}
    steps:
      - uses: actions/download-artifact@v4
      - id: set-vulns
        run: |
          vulns="$(cat */vulns | jq -c --slurp .)"
          echo vulns=${vulns} >> $GITHUB_OUTPUT


  attest:
    needs: collect-vulns
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{ fromJSON(needs.collect-vulns.outputs.vulns) }}
    steps:
      - run: echo ${{ matrix.colour }} ${{ matrix.id }}

