name: Main

on:
  push:

jobs:
  upstream:
    runs-on: ubuntu-latest
    needs: []
    steps:
      - name: Something that fails
        run:
          exit 3

  downstream:
    runs-on: ubuntu-latest
    needs: [upstream]
    steps:
      - name: Show stuff
        run: 
          echo "We got to here"

