name: Main

on:
  push:

jobs:

  job1:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: echo "matrix={\"include\":[{\"colour\":\"red\"},{\"colour\":\"blue\"}]}" >> ${GITHUB_OUTPUT}

  find:
    needs: job1
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.job1.outputs.matrix) }}
    steps:
      - name: Find snyk vulns
        run:
          echo "IDS=[\"SNYK-234\",\"SNYK-567\"]" >> ${GITHUB_ENV}

      - name: Set outcome
        run:
          jq -cn  --arg colour ${{ matrix.colour }} --arg ids ${{ env.IDS }} '$ARGS.named' > outcome

        uses: actions/upload-artifact@v4
        with:
          name: ${{ hashFiles('outcome') }}
          path: outcome


  collect:
    needs: find
    runs-on: ubuntu-latest
    outputs:
      outcomes: ${{ steps.collect.outputs.outcomes }}
    steps:
      - uses: actions/download-artifact@v4
      - id: collect
        run: |
          outcomes="$(cat */outcome | jq -c --slurp .)"
          echo outcomes=$outcomes >> $GITHUB_OUTPUT


  show:
    needs: collect
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{ fromJSON(needs.collect.outputs.outcomes) }}
    steps:
      - run: echo ${{ matrix.colour }} ${{ matrix.ids }}

