name: Main
# https://stackoverflow.com/questions/78915275/how-can-i-capture-the-results-of-matrix-jobs-in-a-github-actions-workflow

on:
  push:

jobs:

  find-artifacts:
    runs-on: ubuntu-latest
    outputs:
      artifacts: ${{ steps.set-artifacts.outputs.artifacts }}
    steps:
      - id: set-artifacts
        run: echo "artifacts=[{\"colour\":\"red\"},{\"colour\":\"blue\"}]" >> ${GITHUB_OUTPUT}


  artifact-snyk:
    needs: find-artifacts
    strategy:
      matrix:
        include: ${{ fromJSON(needs.find-artifacts.outputs.artifacts) }}
    uses: cyber-dojo/ci-testing/.github/workflows/snyk.yml@main
    with:
      colour: ${{ matrix.colour }}
