name: Main

on:
  push:

jobs:

  first:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: []
    steps:
      - uses: actions/checkout@v4

  second:
    runs-on: ubuntu-latest
    needs: [first]
    steps:
      - name: Show repo url
        run:
          echo "X ${{ github.server_url }}/${{ github.repository_owner }} X"

