name: Main

on:
  push:

jobs:
  upstream:
    runs-on: ubuntu-latest
    needs: []
    steps:
      - name: Failing
        run:
          exit 3

      - name: Setup Kosli CLI
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: kosli-dev/setup-cli-action@v2
        with:
          version: ${{ vars.KOSLI_CLI_VERSION }}

      - name: Attest
        if: ${{ github.ref == 'refs/heads/main' }}
        run:
          echo 42

  # downstream does NOT run if upstream has only the Failing step
  # downstream does NOT run if upstream has Failing step AND SetupKosli with if: && success()
  # downstream does NOT run if upstream has Failing step AND SetupKosli with if: && success()||failure()
  downstream:
    runs-on: ubuntu-latest
    needs: [upstream]
    steps:
      - name: Show stuff
        run: 
          echo "We got to here"

