name: Live Snyk Test

on:
  #workflow_dispatch:
  push:
  #schedule: # At 08:00 every day
  #  - cron: '0 8 * * *'

jobs:
  trigger-aws-beta:
    needs: []
    uses: ./.github/workflows/env_snyk_test.yml
    with:
      kosli_env: aws-beta
      kosli_flow: aws-beta-synk-vuln-ages
    secrets:
      snyk_org_id:     ${{ secrets.SNYK_ORG_ID }}
      snyk_token:      ${{ secrets.SNYK_TOKEN }}
      kosli_api_token: ${{ secrets.KOSLI_API_TOKEN }}

  # trigger-aws-prod:
  #   needs: []
  #   uses: ./.github/workflows/env_snyk_test.yml
  #   with:
  #     kosli_env: aws-prod
  #     kosli_flow: aws-prod-synk-vuln-ages
  #   secrets:
  #     snyk_org_id:     ${{ secrets.SNYK_ORG_ID }}
  #     snyk_token:      ${{ secrets.SNYK_TOKEN }}
  #     kosli_api_token: ${{ secrets.KOSLI_API_TOKEN }}
