name: Main

on:
  push:

jobs:

  job1:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: echo "matrix={\"include\":[{\"colour\":\"red\"},{\"colour\":\"blue\"}]}" >> $GITHUB_OUTPUT

  job2:
    needs: job1
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    strategy:
      matrix: ${{ fromJSON(needs.job1.outputs.matrix) }}    
    steps:
      - id: set-matrix
        run: echo "matrix={\"include\":[{\"colour\":\"${{matrix.colour}}\"},{\"id\":\"SNYK-234\"},{\"colour\":\"${{matrix.colour}}\"},{\"id\":\"SNYK-567\"}]}" >> $GITHUB_OUTPUT

  job3:
    needs: job2
    runs-on: ubuntu-latest
    #outputs:
    #  matrix: ${{ steps.set-matrix.outputs.matrix }}
    strategy:
      matrix: ${{ fromJSON(needs.job2.outputs.matrix) }}    
    steps:
      - name: Two levels deep
        run: echo "${{matrix.colour}} ${{matrix.id}}"

