name: Main

on:
  push:

jobs:

  job1:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: echo "matrix={\"include\":[{\"colour\":\"red\"},{\"colour\":\"blue\"}]}" >> $GITHUB_OUTPUT

  job2:
    needs: job1
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.job1.outputs.matrix) }}    
    steps:
      - name: Find snyk vulns
        run:
          echo "IDS=[\"SNYK-234\",\"SNYK-567\"]" >> ${GITHUB_ENV}

      - name: Call resuable workflow
        uses: cyber-dojo/ci-testing/.github/workflows/splicer.yml@main
        with:
          colour: "${{ matrix.colour }}"
          ids: "${{ env.IDS }}"
