name: Snyk

on:
  workflow_call:
    inputs:
      matrix:
        description: "All args"
        required: true
        type: string
      colour:
        description: "Will be artifact"
        required: true
        type: string
      kosli_flow:
        description: "Name of the kosli flow"
        required: true
        type: string


jobs:
  find-snyk-vulns:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Simulate running snyk
        run:
          cp snyk-${{ inputs.colour }}.json snyk-ids.json

      - name: Splice colour into each snyk vuln
        run: |
          echo ":${{ inputs.matrix }}:"
          artifact="$(jq \
            --compact-output \
            --arg colour     "${{ inputs.colour     }}" \
            --arg kosli_flow "${{ inputs.kosli_flow }}" \
            '. += $ARGS.named' <<< '{}')"
            
          jq --compact-output "map(. + ${artifact})" snyk-ids.json > vulns

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ hashFiles('vulns') }}
          path: vulns


  collect-snyk-vulns:
    needs: find-snyk-vulns
    runs-on: ubuntu-latest
    outputs:
      vulns: ${{ steps.set-vulns.outputs.vulns }}
    steps:
      - uses: actions/download-artifact@v4
      - id: set-vulns
        run: |
          cat */vulns | jq --compact-output --slurp add > all-vulns
          vulns="$(jq --compact-output 'map(. | select(.colour == "${{ inputs.colour }}"))' all-vulns)"
          echo "vulns=${vulns}" >> $GITHUB_OUTPUT


  attest-snyk-vulns:
    needs: collect-snyk-vulns
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{ fromJSON(needs.collect-snyk-vulns.outputs.vulns) }}
    steps:
      - name: Print
        run: |
          echo ${{ matrix.kosli_flow }}
          echo ${{ matrix.colour }}
          echo ${{ matrix.severity }}
          echo ${{ matrix.id }}

