name: Snyk

on:
  workflow_call:
    secrets:
      kosli_api_token:
        required: true
      snyk_token:
        required: true

    inputs:
      name:
        description: "Artifact name"
        required: true
        type: string
      fingerprint:
        description: "Artifact fingerprint"
        required: true
        type: string
      repo:
        description: "Artifact repo"
        required: true
        type: string
      commit:
        description: "Artifact commit"
        required: true
        type: string
      kosli_env:
        description: "Name of Kosli environment the artifact is running in"
        required: true
        type: string


env:
  KOSLI_API_TOKEN: ${{ secrets.kosli_api_token }}
  KOSLI_DEBUG:     ${{ vars.KOSLI_DEBUG }}          # true/false
  KOSLI_DRY_RUN:   ${{ vars.KOSLI_DRY_RUN }}        # true/false
  KOSLI_HOST:      ${{ vars.KOSLI_HOST }}           # https://app.kosli.com
  KOSLI_ORG:       ${{ vars.KOSLI_ORG }}            # cyber-dojo


jobs:
  find-snyk-vulns:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Simulate running snyk
        run:
          cp snyk-${{ inputs.repo }}.json snyk-ids.json

      - name: Splice artifact into each snyk vuln
        run: |
          artifact="$(jq \
            --compact-output \
            --arg name        "${{ inputs.name        }}" \
            --arg fingerprint "${{ inputs.fingerprint }}" \
            --arg repo        "${{ inputs.repo        }}" \
            --arg commit      "${{ inputs.commit      }}" \
            --arg kosli_env   "${{ inputs.kosli_env  }}" \
            '. += $ARGS.named' <<< '{}')"
            
          jq --compact-output "map(. + ${artifact})" snyk-ids.json > vulns

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ hashFiles('vulns') }}
          path: vulns


  collect-snyk-vulns:
    needs: find-snyk-vulns
    runs-on: ubuntu-latest
    outputs:
      vulns: ${{ steps.set-vulns.outputs.vulns }}
    steps:
      - uses: actions/download-artifact@v4
      - id: set-vulns
        run: |
          cat */vulns | jq --compact-output --slurp add > all-vulns
          vulns="$(jq --compact-output 'map(. | select(.fingerprint == "${{ inputs.fingerprint }}"))' all-vulns)"
          echo "vulns=${vulns}" >> $GITHUB_OUTPUT


  attest-snyk-vulns:
    needs: collect-snyk-vulns
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{ fromJSON(needs.collect-snyk-vulns.outputs.vulns) }}
    steps:
      - name: Print
        run: |
          echo ${{ matrix.name }}
          echo ${{ matrix.fingerprint }}
          echo ${{ matrix.repo }}
          echo ${{ matrix.commit }}
          echo ${{ matrix.kosli_env }}
          echo ${{ matrix.severity }}
          echo ${{ matrix.id }}

